---
import slug from 'slug';

const { card, index } = Astro.props;

function sentiment_to_div_class(sentiment: number) {
  let classes = "card text-center";
  if (sentiment === 1) {
    classes += " bg-success";
  } else if (sentiment === 0) {
    classes += " bg-secondary";
  } else if (sentiment === -1) {
    classes += " bg-danger";
  }
  return classes;
}

function rank_to_img_src(rank: number) {
  let src = "/images/ranks/rank_";
  if (rank === 0) {
    src += "d";
  } else if (rank === 1) {
    src += "c";
  } else if (rank === 2) {
    src += "b";
  } else if (rank === 3) {
    src += "a";
  } else if (rank === 4) {
    src += "s";
  }
  src += ".webp";
  return src;
}
---
<div class="col" style={"display: block; opacity: " + (card.defaultStandard ? "1" : "0.625") + ";"} id={"card" + (index + 1).toString()} data-easy={card.defaultEasy.toString()} data-standard={card.defaultStandard.toString()} data-type={slug(card.description.split("!")[0])} data-effect={slug(card.effect)} data-rank={card.rank} data-sentiment={card.sentiment}>
  <div class={sentiment_to_div_class(card.sentiment)} style="height: 100%;">
    <div class="row row-cols-2 g-2">
      <div class="col-4">
        <div class="card-body" style="padding-right: 0;">
          <header><p>Card No. {index + 1}</p></header>
          <figure><img src={"/images/venturecards/venturecard_" + String(index + 1).padStart(3, '0') + ".webp"} alt={"Venture Card " + (index + 1).toString()} style="max-width: 100%; height: auto;"/></figure>
          <footer><img src={rank_to_img_src(card.rank)}/></footer>
        </div>
      </div>
      <div class="col-8">
        <div style="text-align: right;">
          <input type="checkbox" style="position: relative; z-index: 1; width: 24px; height: 24px; top: 4px; right: 4px;" id={"card" + (index + 1).toString() + "selected"} checked={card.defaultStandard} onchange="cards.check_selected_cards()"/>
        </div>
        <div class="card-body">
          <p><strong>{card.description}</strong></p>
          {card.descriptionExtra !== undefined && (<p><i>({card.descriptionExtra})</i></p>)}
          {(card.defaultEasy || card.defaultStandard) && (
          <p>
            Default in:
            {card.defaultEasy && "Easy"}{card.defaultEasy && card.defaultStandard && "/"}{card.defaultStandard && "Standard"}
          </p>
          )}
          <p><i>Effect: {card.effect}</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
